<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <h1>Интерактивный учебник по Python</h1>
    </header>
    <div class="container">
        <p>Здесь вы можете изучать Python и решать практические задания.</p>
        <p><a href="/Account/Login">Войти</a> или <a href="/Account/Register">Зарегистрироваться</a></p>
        <div class="image-container">
            <img src="images/guido.jpg" alt="Guido van Rossum">
        </div>
    </div>
    <footer>
        &copy; «Python - это эксперимент по определению степени свободы программистов.»
    </footer>
</body>
</html>
