<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="yandex-verification" content="746c688cbcaca509" />
    <meta name="description" content="Онлайн-учебник по программированию на языке Python, который поможет вам освоить один из самых востребованных языков программирования в 2019 году. Научиться программировать может каждый! Так почему мы бы не начать прямо сейчас?" />
    <meta name="keywords" content="питон, python, туториал по программированию, учебник python, обучение программированию, программирование на python, основы питона, язык программирования, изучение python">
    <title>Учебник Python</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="topic.css">
</head>
<body>
    <div class="sidebar">
        <ul class="topics">
            <li class="darkgreen" onclick="toggleContent('topic1')">
                Введение в Python
                <ul class="subtopics">
                    <li class="subtopic" onclick="toggleSubContent('subtopic1')">История создания и развития Python</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic2')">Версии Python 2 и Python 3</li>
                </ul>
            </li>
            <li class="darkgreen" onclick="toggleContent('topic2')">
                Определение Python
                <ul class="subtopics">
                    <li class="subtopic" onclick="toggleSubContent('subtopic3')">Плюсы и минусы Python</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic4')">Особенности Python</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic5')">Философия Python. Дзен Python</li>
                </ul>
            </li>
            <li class="darkgreen" onclick="toggleContent('topic3')">
                Python IDE и редакторы исходного кода
                <ul class="subtopics">
                    <li class="subtopic" onclick="toggleSubContent('subtopic6')">Отличия между редактором кода и IDE</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic7')">Выполнение программ на Python. Запуск программ на Python. Интерпретатор Python. Режимы работы. Интерактивный (Программный режим) режим. Запуск в командной строке (Командный режим). Пакетный режим. Установка Python. Первая программа на Python</li>
                </ul>
            </li>
            <li class="darkgreen" onclick="toggleContent('topic4')">Основы Python. Базовый синтаксис</li>
            <li class="darkgreen" onclick="toggleContent('topic5')">
                Получение пользовательского ввода данных/информации в консоль  с помощью встроенной/стандартной функции – input() в Python 3.
                <ul class="subtopics">
                    <li class="subtopic" onclick="toggleSubContent('subtopic8')">Функция input(Вход) в программе, написанной на Python 3</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic9')">Чтение данных из стандартного ввода пользователя с помощью функции input() в Python 3</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic10')">Принцип работы функции input()в Python 3</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic11')">Эмуляция терминала с использованием функции input() в Python 3</li>
                </ul>
            </li>
            <li class="darkgreen" onclick="toggleContent('topic6')">
                Операторы
                <ul class="subtopics">
                    <li class="subtopic" onclick="toggleSubContent('subtopic12')">Арифметические операторы</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic13')">Операторы сравнения</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic14')">Операторы присваивания</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic15')">Логические операторы</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic16')">Операторы принадлежности</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic17')">Операторы тождественности</li>
                    <li class="subtopic" onclick="toggleSubContent('subtopic18')">Битовые операторы</li>
                </ul>
            </li>
        </ul>
    </div>
    <main class='container'>
        <div class="topic-content" id="topic1">
            <h2>Введение в Python</h2>
            <p>Описание темы "Введение в Python". Здесь может быть дополнительное содержание по теме.</p>
        </div>
        <div class="subtopic-content" id="subtopic1">
            <h3>История создания и развития Python</h3>
            <p>Описание подтемы.</p>
        </div>
        <div class="subtopic-content" id="subtopic2">
            <h3>Версии Python 2 и Python 3</h3>
            <p>Описание подтемы.</p>
        </div>
        <div class="topic-content" id="topic6">
            <h2>Операторы</h2>
            <p>Описание темы "Операторы". Здесь может быть дополнительное содержание по теме.</p>
        </div>
        <div class="subtopic-content" id="subtopic12">
            <h3>Подтема: Арифметические операторы</h3>
            <p>Описание подтемы "Арифметические операторы". Здесь может быть дополнительное содержание по подтеме.</p>
        </div>
        <div class="subtopic-content" id="subtopic13">
            <h3>Подтема: Операторы сравнения</h3>
            <p>Описание подтемы "Операторы сравнения". Здесь может быть дополнительное содержание по подтеме.</p>
        </div>
        <div class="subtopic-content" id="subtopic14">
            <h3>Подтема: Операторы присваивания</h3>
            <p>Описание подтемы "Операторы присваивания". Здесь может быть дополнительное содержание по подтеме.</p>
        </div>
        <div class="subtopic-content" id="subtopic15">
            <h3>Подтема: Логические операторы</h3>
            <p>Описание подтемы "Логические операторы". Здесь может быть дополнительное содержание по подтеме.</p>
        </div>
        <div class="subtopic-content" id="subtopic16">
            <h3>Подтема: Операторы принадлежности</h3>
            <p>Описание подтемы "Операторы принадлежности". Здесь может быть дополнительное содержание по подтеме.</p>
        </div>
        <div class="subtopic-content" id="subtopic17">
            <h3>Подтема: Операторы тождественности</h3>
            <p>Описание подтемы "Операторы тождественности". Здесь может быть дополнительное содержание по подтеме.</p>
        </div>
        <div class="subtopic-content" id="subtopic18">
            <h3>Подтема: Битовые операторы</h3>
            <p>Описание подтемы "Битовые операторы". Здесь может быть дополнительное содержание по подтеме.</p>
        </div>
    </main>
    <script src="topic.js"></script>
</body>
</html>