<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Exercise</title>
    <link rel="stylesheet" href="topic.css">
    <script src="ex.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="big-title">Упражнения по Python</h1>
        <div class="exercise">
            <h2 class="main-title">Упражнение №1</h2>
            <p class="text">Напишите программу на Python для печати "Привет, мир!"</p>
            <form id="form1" method="post">
                <label for="code" class="title">Ваш код на Python:</label><br>
                <textarea id="code1" name="code" rows="6" class="new_code"></textarea><br>
                <button type="button" class="button" onclick="checkAnswer(1)">Проверить</button>
            </form>
        </div>
        <div class="exercise">
            <h2 class="main-title">Упражнение №2</h2>
            <p class="text">Напишите программу на Python для сложения двух чисел.</p>
            <form id="form2" method="post">
                <label for="code2" class="title">Ваш код на Python:</label><br>
                <textarea id="code2" name="code" rows="6" class="new_code"></textarea><br>
                <button type="button" class="button" onclick="checkAnswer(2)">Проверить</button>
            </form>
        </div>
        <div class="exercise">
            <h2 class="main-title">Упражнение №3</h2>
            <p class="text">Напишите программу на Python для получения пользовательского ввода и его вывода.</p>
            <form id="form3" method="post">
                <label for="code3" class="title">Ваш код на Python:</label><br>
                <textarea id="code3" name="code" rows="6" class="new_code"></textarea><br>
                <button type="button" class="button" onclick="checkAnswer(3)">Проверить</button>
            </form>
        </div>
        <div class="exercise">
            <h2 class="main-title">Упражнение №4</h2>
            <p class="text">Напишите программу на Python для выполнения арифметических операций.</p>
            <form id="form4" method="post">
                <label for="code4" class="title">Ваш код на Python:</label><br>
                <textarea id="code4" name="code" rows="6" class="new_code"></textarea><br>
                <button type="button" class="button" onclick="checkAnswer(4)">Проверить</button>
            </form>
        </div>
        <div class="topic-content">
            <!-- Результаты упражнений будут отображаться здесь -->
        </div>
    </div>
</body>
</html>
